<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Practice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script>


            $(document).ready(function () {
                $("p").click(function () {
                    $(this).hide();
                });
            });

            $(document).ready(function () {
                $(".thumbnail").attr("height", "100");
            });

            $(document).ready(function () {
                $(".thumbnail").mouseenter(function () {
                    $(this).attr("height", "200");
                });
            });

            $(document).ready(function () {
                $(".thumbnail").mouseleave(function () {
                    $(this).attr("height", "100");
                });
            });

    </script>

</head>
<body>
    <img class="thumbnail" src="../content/Img/0FIRJTW2.png" alt="image">

    <p>This is a paragraph.</p>
</body>
</html>
