<div class="shopping-cart-nav">
    @Html.ActionLink("<< Back to Store", "Index", "Store") |
    @Html.ActionLink("Clear Cart", "ClearCart", "ShoppingCart") |
    @Html.ActionLink("Checkout >>", "BillingProfile", "Checkout")
</div>
