@{
    ViewBag.Title = "About Joe";
}

<h2>About This Project</h2>

<div style="align-content:center;">
    <table class="table" style="width: 400px; margin-left: auto; margin-right: auto; margin-top: 50px; margin-bottom: 50px;">
        <caption>Primary Tools Used</caption>
        <tr>
            <th>
                Technology
            </th>
            <th>
                Version
            </th>
        </tr>
        <tr>
            <td>
                Visual Studio
            </td>
            <td>
                2013 Community Edition
            </td>
        </tr>
        <tr>
            <td>
                .NET Framework
            </td>
            <td>
                4.5
            </td>
        </tr>
        <tr>
            <td>
                SQL Server
            </td>
            <td>
                2014 Express Edition
            </td>
        </tr>
        <tr>
            <td>
                Entity Framework
            </td>
            <td>
                6.1.1
            </td>
        </tr>
        <tr>
            <td>
                MVC
            </td>
            <td>
                5
            </td>
        </tr>
        <tr>
            <td>
                C#
            </td>
            <td>
                3
            </td>
        </tr>
    </table>
</div>

<div class="codelink">
    View the code for this Site at <a href="https://github.com/MasterOfDomains/PortfolioSite.git">Github</a>
</div>

    <h2>About Me</h2>

    <p>
        I  have worked in various hi-tech positions over the last 15 years. I began in the 90's when all
        of the monotonous tasks, which today are encapsulated, were all done by hand. A few years later I
        somehow decided that it would be a great idea to round myself out and took some courses in electronics
        engineering. I planned to learn the basics and then return to software development with a newly gained
        competitive edge. To be honest I couldn't have been more wrong about that.
    </p>

    <div class="video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/LONtX_MQYtM" frameborder="0" allowfullscreen></iframe>
    </div>

    <p>
        As a student at GTCC I competed in the IEEE Southeast Conference Student Hardware Competition. I was
        determined to win 1st place and kept trying for several years, sometimes with a small team and sometimes
        on my own. I paid for the projects almost totally out of my own pocket while competing against major
        engineering universities with budgets sometimes exceeding $10 thousand. I had many grueling years, many
        all-nighters, and learned what I remained convinced will be an invaluable experience. I hoped this would
        include my mastery of AVR micro-controller programming in C. All the while, however, my original discipline
        faded and grew out of date. I ended up working in electronics for almost 10 years. I troubleshot every type
        of industrial electronic equipment and worked as an RF (radio frequency) technician.
    </p>

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/O7B8fOB_IiI" frameborder="0" allowfullscreen></iframe>
    </div>

    <p>
        I developed this site as a sample of my abilities to develop with C#, ASP, and the .NET framework. It works
        against a SQL Server EE database and utilizes tools provided by Entity Framework. It is based on a “pre-existing”
        database requiring the Database First methodology, and then adds the Code First paradigm for the “Web Store”
        functionality. It doesn't so much show my front-end development skills as of yet but I did aim to make it look
        not too revolting. I conceived the idea of a clothing store to create a more challenging sample application than
        the typical work sample. For instance, every item has different sizes, sometimes multiples. I hope you will look
        through it enough to notice the impressive details like the fact that every size of every item of clothing has
        its inventory tracked.
    </p>

    <div class="video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/V_jSAM-J-D4" frameborder="0" allowfullscreen></iframe>
    </div>

    <p>
        Thanks for viewing my Site.
    </p>
