@{
    ViewBag.Title = "Contact Joe";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Info.</h3>

<address>
    337 S. Davie St<br />
    Greensboro, NC, 27401<br />
    <abbr title="Phone">P:</abbr>
    336.897.7021
</address>

<address>
    <strong>Job Offers:</strong>   <a href="mailto:jsrogers1@att.net">jsrogers1@att.net</a><br />
</address>