@{
    ViewBag.Title = "The JR Image Editor";
}

<style>

</style>


    <h1>Windows Forms Image Editor</h1>
    <div>
        <div class="video">
            <div><p>Please watch this video.</p></div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/weOkIs8nSNE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div>
            <p class="codedesc">
                I wrote this appliation when I noticed that the images randomly downloaded from Google Images were
                not consistent in their dimensions and therefore not condusive to dynamically generated HTML. I assume
                I was "reinventing the wheel" but I also needed a graphical C# work sample.
            </p>
        </div>
        <div class="codelink">
            Download <a href="~/Content/ImageEditor.zip">Published Version</a> (.NET 4.5)   
        </div>
        <div class="codelink">
            View code at <a href="https://github.com/MasterOfDomains/ImageEditor.git" target="_blank">Github</a>
        </div>
    </div>
