@{
    ViewBag.Title = "Joseph Rogers Home Page";
}

<div class="jumbotron">
    <h1>Joseph Rogers</h1>
    <h2>Work Sample Site</h2>
    <p class="lead">This Site contains working examples applications developed independently by myself using
    C#, ASP, SQL Server, Entity Framework, and more...</p>
    <p><a href="~/Home/About/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@Html.ActionLink("Administration", "RoleIndex", "Account")

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="feature feature-holder">
                <h3>Virtual E-Store</h3>
                <p>Browse merchandise by size and view inventory information.</p>
                <h4>Using:</h4>
                <ul>
                    <li>ASP.NET MVC</li>
                    <li>Entity Framework</li>
                    <li>SQL Server</li>
                    <li>Account Authorization</li>
                    <li>Secure Socket Layer</li>
                </ul>
                <a href="/Store" class="btn btn-primary btn-sm">Go To Store &raquo;</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature feature-holder">
                <h3>Image Editor</h3>
                <p>Make a bunch of randomly downloaded images a consistent size for HTML</p>
                <h4>Using:</h4>
                <ul>
                    <li>C#</li>
                    <li>Windows Forms</li>
                    <li>Entity Framework</li>
                </ul>
                <a href="/Home/ImageEditor" class="btn btn-primary btn-sm">Go To App &raquo;</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" feature feature-holder">
                <h3>Inventory Management</h3>
                <p>Add sizes and update stock for each in the database. See the changes reflected in the store!</p>
                <h4>Using:</h4>
                <ul>
                    <li>JQuery</li>
                    <li>LINQ</li>
                    <li>Entity Framework</li>
                    <li>Authorization</li>
                </ul>
                <a href="/EditItems" class="btn btn-primary btn-sm">"Admins" Only!</a>
            </div>
        </div>
    </div>
</div>
