<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://josephrogersportfolio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>josephrogersportfolio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JosephRogersPortfolio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JosephRogersPortfolio</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PortfolioDataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:h6ermrbe70.database.windows.net,1433;Initial Catalog=ClothingData;Persist Security Info=True;User ID=jsrogers1@h6ermrbe70;Password=Jsr072376" Name="Data Source=tcp:h6ermrbe70.database.windows.net,1433;Initial Catalog=ClothingData;Persist Security Info=True;User ID=jsrogers1@h6ermrbe70;Password=Jsr072376;multipleactiveresultsets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PortfolioSite.Models.PortfolioDataEntities, PortfolioSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PortfolioSite.DataContexts.WebStoreDataEntities" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:h6ermrbe70.database.windows.net,1433;Initial Catalog=PortfolioDB;User ID=jsrogers1@h6ermrbe70;Password=Jsr072376" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PortfolioSite.DataContexts.WebStoreDataEntities, PortfolioSite" MigrationConfiguration="PortfolioSite.DataContexts.WebStoreMigrations.Configuration, PortfolioSite" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:h6ermrbe70.database.windows.net,1433;Initial Catalog=PortfolioDB;User ID=jsrogers1@h6ermrbe70;Password=Jsr072376" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PortfolioSite.DataContexts.IdentityDataEntities, PortfolioSite" MigrationConfiguration="PortfolioSite.DataContexts.IdentityMigrations.Configuration, PortfolioSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:h6ermrbe70.database.windows.net,1433;Initial Catalog=PortfolioDB;User ID=jsrogers1@h6ermrbe70;Password=Jsr072376</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PortfolioDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PortfolioDataModel.csdl|res://*/Models.PortfolioDataModel.ssdl|res://*/Models.PortfolioDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:h6ermrbe70.database.windows.net,1433;Initial Catalog=ClothingData;Persist Security Info=True;User ID=jsrogers1@h6ermrbe70;Password=Jsr072376;multipleactiveresultsets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PortfolioSite.DataContexts.WebStoreDataEntities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:h6ermrbe70.database.windows.net,1433;Initial Catalog=PortfolioDB;User ID=jsrogers1@h6ermrbe70;Password=Jsr072376</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PortfolioSite.DataContexts.WebStoreDataEntities" />
  </ItemGroup>
</Project>